﻿@model MODELO.T_NUEVO_PRODUCTO

@{
    ViewBag.Title = "Nuevo Producto";
    var mensaje = ViewBag.Mensaje;
}




<div class="text-center">
    <h2><strong>NUEVO PRODUCTO</strong></h2>
</div>
<br />
@if (ViewBag.Mensaje == null)
{
    <input type="hidden" id="txtOculto" value="" />
}
else
{
    <input type="hidden" id="txtOculto" value="@mensaje" />
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6" style="border:solid 0.8px; padding-top:50px;padding-bottom:50px; border-radius:15px;border-color:#D2D3D3;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group row">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-end font-weight-bold" })
                <div class="col-md-8 d-flex justify-content-start">
                    @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @placeholder = "CODIGO" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-end font-weight-bold" })
                <div class="col-md-8 d-flex justify-content-start">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @placeholder = "NOMBRE" } })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IdMedida, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-end font-weight-bold" })
                <div class="col-md-8 d-flex justify-content-start">
                    @Html.DropDownListFor(model => model.IdMedida, ViewBag.Medida as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Volumen, htmlAttributes: new { @class = "control-label col-md-4 d-flex justify-content-end font-weight-bold" })
                <div class="col-md-8 d-flex justify-content-start">
                    @Html.EditorFor(model => model.Volumen, new { htmlAttributes = new { @class = "form-control", @placeholder = "VOLUMEN" } })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <input type="hidden" class="col-md-4" />
                </div>
                <div class="col-md-8 d-flex justify-content-start">
                    <input type="submit" value="AGREGAR" id="btnAgregar" class="btn btn-primary btn-block" />
                </div>
            </div>


        }

    </div>
    <div class="col-3"></div>
</div>


<script src="~/Scripts/Alertas.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
